.profile {
    max-width: 880px;
    min-width: 282px;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr 1fr;
    grid-gap: 30px;
}

@media screen and (max-width: 628px) {
    .profile {
        grid-template-columns: 400px;
    }
}

@media screen and (max-width: 404px) {
    .profile {
        grid-template-columns: 282px;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        grid-template-columns: 282px;
        row-gap: 0;
    }
}