.popup__user-name {
    border: none;
    width: 100%;
    min-height: 27px;
    padding-bottom: 13px;
    border-bottom: rgba(0, 0, 0, .2) 1px solid;
    box-sizing: border-box;
}

.popup__user-name::-webkit-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-name::-moz-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-name::-ms-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-name::placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
