.footer {
    max-width: 318px;
    min-width: 282px;
}

@media screen and (max-width: 1279px) {
    .footer {
        display: flex;
        justify-content: flex-start;
        max-width: 880px;
    }
}
