.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close\ Icon.png);
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 392px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-position: center;
        top: -36px;
        right: 0;
    }
}