.popup__user-work {
    border: none;
    width: 100%;
    min-height: 27px;
    margin-top: 30px;
    padding-bottom: 13px;
    box-sizing: border-box;
}

.popup__user-work::-webkit-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-work::-moz-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-work::-ms-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-work::placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
