.popup__place-name {
    border: none;
    width: 100%;
    min-height: 27px;
    margin-top: 30px;
    padding-bottom: 13px;
    box-sizing: border-box;
}

.popup__place-name::-webkit-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.popup__place-name::-moz-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.popup__place-name::-ms-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.popup__place-name::placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
