.profile-info {
    max-width: 336px;
    min-width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 628px) {
    .profile-info {
        justify-self: center;
    }
}

@media screen and (max-width: 320px) {
    .profile-info {
        margin-top: 22px;
        margin-bottom: 36px;
    }
}