.popup__user-work {
    border: none;
    margin-bottom: 13px;
    max-width: 358px;
    min-width: 238px;
    margin-top: 30px;
    padding: 0;
}

.popup__user-work::-webkit-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-work::-moz-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-work::-ms-input-placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__user-work::placeholder {
    font-family: 'inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}